/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

HTML5 display-role reset for older browsers
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.body {
	color: #3a3a39;
	font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 13px;
	line-height: 1.42857143;
	margin: 0;
	background-color: #f6f6f5;
}

.global {
	height: 35px;
	background-color: #fff;
	border-bottom: 1px solid #ececec;
}

.cont {
	margin: 0 auto;
	text-align: left;
	width: 850px;
	background: #fff;
	zoom: 1;
}

.global .cont>ul.nav {
	white-space: nowrap;
	height: 14px;
	position: relative;
	top: 10px;
}

.global .cont>ul.nav>li {
	line-height: 14px;
}

.global .cont>ul.nav>li+li {
	border-left: 1px solid #ccc;
}

a {
	color: #07c;
	text-decoration: none;
	cursor: pointer;
	background: transparent;
}

a:hover {
	text-decoration: underline;
}

.header {
	position: relative;
	z-index: 1;
	width: 975px;
	height: 100px;
	margin: 0 auto;
}

.header .brand {
	float: left;
	width: 415px
}

.header .brand .logo {
	font-weight: bold;
	font-size: 18px;
	color: orange;
	top: 31px;
}

.header .brand>a {
	position: relative;
}

}
.header .options {
	position: absolute;
	top: 41px;
	right: 0;
	white-space: nowrap;
}

ul.nav.options {
	padding-top: 41px;
}

.header .options>li>a {
	color: #fff;
	background-color: #939393;
	padding: 3px 10px;
}

.header .options>li>a:hover {
	background-color: #fb8008;
	text-decoration: none;
}

.content {
	box-sizing: border-box;
	overflow: hidden;
	padding: 2.30769231em 2.30769231em 4.61538462em 0;
	width: 100%;
}

.profileView,.home {
	padding: 30px;
	width: 100%;
}

.title-page {
	padding-left: .9375em;
	color: #888884;
	font-size: 32px;
}

.nav-left-col {
	/* font-size: 14px; */
	font-size: 1.0769230769230769rem;
	margin-right: 1em;
	box-sizing: border-box;
	position: relative;
}

.nav-left-col a {
	background-color: #fff;
	border-right: 3px solid #fff;
	display: block;
	/* padding: .64285714em; */
	padding-right: .85714286em;
	/* padding-left: 2.14285714em; */
}

.nav-left-col a.active {
	background-color: #fafafa;
	border-right-color: #0096ef;
	color: #3a3a39;
}

.nav-nested {
	/* border-left: 2px solid #d0d2d3; */
	font-size: 13px;
	/* font-size: 1rem; */
	margin: .15384615em 0 .15384615em 0.307692em;
}

.nav-nested a {
	margin-left: .15384615em;
	padding: .46153846em;
	padding-right: 0;
	padding-left: 1em;
	/* background-color: whitesmoke; This looks like a good color for tab highlighting*/
}

.pull-left {
	float: left;
	top: 16px;
}

.pull-right {
	float: right;
}

.l-sidebar {
	width: 19%;
}

.l-main-col {
	width: 78%;
}

.l-sidebar,.l-main-col {
	min-height: 500px;
	position: relative;
}

.msg-toolbar {
	border-bottom: 1px solid #e3e3df;
	list-style-type: none;
	margin: 0;
	min-height: 3em;
	padding: 0;
	padding-bottom: 1em;
	position: relative;
	width: 100%;
}

.msg-toolbar .tool-item:first-child {
	margin-right: 0;
}

.msg-toolbar .tool-item {
	margin-right: 3px;
}

.msg-toolbar .btn {
	color: #2a2a29;
	font-size: 12px;
	/* font-size: 0.9230769230769231rem; */
	font-weight: bold;
	opacity: .5;
	pointer-events: none;
	position: relative;
	transition: opacity .3s ease;
}

.btn,input[type="submit"].btn,input[type="button"].btn {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	padding: .5em .75em;
	color: #fff;
	line-height: 1.42857143;
	text-align: center;
	text-decoration: none;
	background-color: #0096ef;
	border: 1px solid #0086d6;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4);
	cursor: pointer;
	outline: none;
	transition: all .1s ease;
	vertical-align: middle;
}

input,textarea,select,button {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

.btn-secondary {
	background-color: #eee;
	border-color: #d5d5d5;
}

.msg-toolbar .btn.is-active {
	opacity: 1;
	pointer-events: auto;
	transition: opacity .1s ease;
}

h2 {
	font-size: 140%;
	color: #2f2f2c;
	font-weight: normal;
	letter-spacing: -1px;
	margin: 0;
	text-rendering: optimizelegibility;
	line-height: 100%;
}

.question-area h2,.login h2,.register h2 {
	font-weight: bold;
	letter-spacing: normal
}

.question-area h2 {
	color: #afafab;
	margin-bottom: 1.5em;
}

.profileView h2,.home h2 {
	border-bottom: 2px solid #e9e9e9;
	font-weight: normal;
	padding: 10 0 10 0;
	letter-spacing: normal
}

.profileView h2 {
	color: #fd8008;
	margin-bottom: 15px;
}

.home h2 {
	margin-bottom: 15px;
}

ul.nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: right;
}

ul.nav>li {
	margin: 0;
	padding: 0 5px;
	list-style-type: none;
	float: left;
	display: inline-block;
}

.question-list {
	font-size: 14px;
	/* font-size: 1.0769230769230769rem; */
}

.question-list .question-entry:first-child {
	border-top: none;
}

.question-list .question-entry {
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 1px solid #e3e3df;
	color: #2f2f2c;
	padding: 1.25em 1em .75em 2em;
	cursor: pointer;
}

.msg-meta .msg-select {
	left: .57142857em;
	position: absolute;
}

.msg-meta .msg-select input[type="checkbox"] {
	margin: 0;
	top: 2px;
	width: 11px;
}

.msg-meta .msg-date {
	font-size: 12px;
	/* font-size: 0.9230769230769231rem; */
	font-weight: bold;
	float: right;
	margin-right: 0;
	position: relative;
	right: .25em;
}

input[type=checkbox] {
	border: 0;
	margin: 0 5px 0 0;
	position: relative;
	top: 1px;
}

strong {
	font-weight: 700;
}

input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

.question-field {
	color: #afafab;
	display: block;
	margin-top: .25em;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 93%;
}

.question-field .question-title {
	color: #30302e;
}

footer {
	color: #777;
	clear: both;
	padding: 50px 0 30px 0;
	font-size: 90%;
}

footer .cont {
	background: transparent;
}

.footer-menu {
	font-size: 100%;
	line-height: 30px;
}

.footer-menu a {
	color: inherit;
	display: inline-block;
	margin-right: 15px;
}

p {
	line-height: 1.42857143;
	margin: 0 0 .5em;
}
/* Profile Info page Styles Start */
.profile-info label {
	display: block;
}

.main-area h2 {
	font-size: 140%;
	letter-spacing: normal;
}

.main-area input[type='button'] {
	margin-top: 20px;
}

.flash-notice {
	color: #246;
	background-color: #e2eef9;
	border: solid 1px #bac6d3;
	padding: 10px;
	margin: 10 0 10 0;
}

.flash-close {
	cursor: pointer;
	float: right;
	opacity: .6;
}

.primary-message {
	position: relative;
	top: 20px;
	left: 20px;
}

.profile tags-input {
	height: 100px;
	width: 500px;
}

.profile form {
	padding: 20px;
}

.profile form label {
	margin: initial;
	width: 73px;
	display: inline-block;
}
/* Profile Info page Styles End  */

/*Ask Question Styles  */
.cont .question-content {
	width: 810px;
	padding: 20px
}

.question-area {
	margin: 20px 0 0 32px;
}

form label {
	margin-right: 38px;
}

form #title {
	width: 527px;
}

form label.kindofhelp {
	display: block;
	margin-bottom: 8px;
}

form input#tags {
	width: 482px;
}

form label.tags {
	float: left;
}

/*End Ask Question Styles  */
.button,input[type='button'],input[type='submit'],button {
	margin-top: 30px;
	border: 1px solid transparent;
	color: #fff;
	cursor: pointer;
	line-height: normal;
	padding: .3em .7em;
	position: relative;
	text-decoration: none;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 0 1px 0
		rgba(255, 255, 255, 0.4) inset;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 0 1px 0
		rgba(255, 255, 255, 0.4) inset;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-width: 90px;
	display: inline-block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	vertical-align: bottom;
	border-color: #e96601;
	background-color: #fe7a15;
}

/* Start view question Styles */
.questiondetails-area {
	padding: 5px;
}

.questiondetails-area label.Entry {
	margin-right: 38px;
	font-weight: bold;
	width: 47px;
	display: inline-block;
}

.questiondetails-area .kindofHelp {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
}

.tagsview {
	border: none !important;
	background: #FFF;
	/* padding: 5px; */
	width: 600px !important;
	height: inherit !important;
	overflow-y: auto;
}

/*End view question styles  */

/*Start Home Page Styles */
.home a {
	padding-left: 10px;
}
/*End Home Page Styles  */
/*Start Login Styles  */
/* form.loginForm input[type=text],form.login input[type=password]
	{
	width: 200px;
	margin: 3px 0;
} */
.centerArea {
	padding: 30px 0px 0px 60px;
	margin: 0 auto;
	width: 437px;
}

.paddedArea {
	padding: 30px 0px 0px 60px;
	width: 437px;
}

.main-area {
	padding: 10px 0px 0px 10px;
}

.main-area input[type='text'] {
	width: 442px;
}

.register input[type='text'],.register input[type='password'],.login input[type="text"],.login input[type="password"]
	{
	width: 200px;
}

.loginForm label,.registerForm label {
	display: inline-block;
	margin-right: 0;
	font-weight: bold;
}

.loginForm label {
	width: 115px;
}

.registerForm p>label {
	width: 138px;
}

.login input[type="submit"] {
	margin-top: 0;
	min-width: 200px;
}

.register input[type="submit"] {
	min-width: 49px;
}

/*End Login Styles  */
/* Start MentorProfile Display Styles */
.section {
	margin-top: 20px;
}

.profile .action {
	/* float: left; */
	margin-bottom: 20px;
	/* width: 139px; */
}

.profileLeftArea {
	float: right;
	padding-top: 3px;
	/* padding-left: 10px; */
	padding-right: 14px;
	/* width: 124px; */
}

.profileRightArea {
	height: auto;
	/* overflow: hidden; */
	width: 600px;
	/* padding-left: 21px; */
}

.profileRightArea h2.subTitle {
	font-size: medium;
	margin-top: 27px;
	border-bottom: initial;
}
/* End MentorProfile Display Styles */
.caption {
	font-weight: 100;
	font-size: 14px;
	padding-left: 53px;
	color: grey;
}

.howBar {
	margin-top: 22px;
	height: 126px;
	/* padding-bottom: 188px; */
}

.howStep {
	margin-right: 60px;
	float: left;
}

.howStepIndex {
	color: white;
	background-color: orange;
	border-radius: 50%;
	margin-top: 10px;
	height: 21px;
	width: 20px;
	text-align: center;
	margin-left: 80px;
	align-content: center;
}

.howStepContent {
	padding-top: 10px;
}

.howStepContentText {
	text-align: center;
	width: 193px;
}

.container {
	width: 975px;
	background: #fff;
	display: block;
	margin-left: 188px;
	color: grey;
}

.containerWide {
	/* //width: 975px; */
	background: #fff;
	display: block;
	/* margin-left: 188px; */
	color: grey;
}

.profileArea {
	font-family: "Times New Roman", Georgia, Serif;
	/* border-bottom: solid 1px #e9e9e9; */
	border-right: 1px solid transparent;
	position: relative;
	padding: 10px;
	box-sizing: border-box;
	float: left;
	width: 383px;
	height: 182px;
}

div.profileArea.odd {
	padding-left: 10px;
}

.profileImage {
	float: left;
	padding-right: 10px;
	padding-top: 3px;
}

.profileInfo {
	height: auto;
	overflow: hidden;
}

h3 {
	margin: 0px;
}

p {
	margin: 0px;
	margin-top: 10px;
}

p.profileSkill {
	font-style: italic
}

h3.profileName {
	color: #07c
}

.skillInfo {
	color: #07c;
}

.skillRow {
	border: solid 1px #e9e9e9;
}

.skillName {
	font-size: 18px;
	float: left;
	width: 80px;
	padding-left: 5px;
	padding-right: 100px;
	height: 40px;
	color: #8e979b;
}

.skillInfo {
	color: #333;
}

.skillExp {
	color: #8e979b;
}

.skillSection {
	padding-top: 40px;
	padding-bottom: 40px;;
	font-size: 20px;
	color: #07c;
}

.leftHandle {
	float: left;
	height: 100%;
	width: 90px;
	padding-top: 100px;
	padding-left: 45px;
	padding-right: 100px;
}

.questionRow {
	padding: 18px;
	float: left;
	width: 81%;
	background-color: #f8f8f8;
	margin-bottom: 10px;
}

.questionField {
	float: left;
	padding-right: 19px;
}

.questionTitle {
	float: left;
	padding-right: 7px;
	width: 370px;
}

#questionPool {
	style ='display: block;
	float: left;
	width: 900;
	'
}

.actionRef {
	font-size: 16px;
	font-weight: bold;
	color: orange;
	text-decoration: blink;
}

.actionRefClicked {
	font-size: 16px;
	font-weight: normal;
	color: #545452;
	text-decoration: blink;
}

.actionTab {
	padding-left: 800px;
	padding-bottom: 47px;
}

.askQuestionAction {
	float: left;
	padding-right: 10px;
}

.availabilityAction {
	float: left;
	padding-right: 10px;
}

.actionHightlight {
	border-right-color: #0086d6;
	border-right-width: thick;
	border-right-style: inset;
	height: 20px;
	background-color: #f8f8f8;
}

.mySessionsAction {
	float: left;
	padding-right: 10px;
}

.viewQuestionsAction {
	float: left;
	padding-right: 10px;
}

.error {
	color: #fd8008;
	font-weight: bold;
	margin-bottom: 10px;
}

label.error {
	margin-right: 10px;
}

.errorblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

.circle {
	border-radius: 50%;
}