<div ng-show="!user">
	<div class="main-area">
		<div class="primary-message">Some issue while retrieving your
			profile.Please try again later.</div>
	</div>
</div>
<div ng-show="user">
	<div class="profile-info main-area">
		<h2>Profile Info</h2>


		<div id="flash-notice" ng-show="flashnotice">
			<div class="flash-notice">
				<span ng-click="close()"
					class="glyphicon glyphicon-remove flash-close"></span>
				{{flashmessage}}
			</div>
		</div>

		<form method="post" ng-submit="processForm()">

			<p>
				<label for="name">name</label> <input name="name" id="name"
					type="text" ng-model="user.name">
			</p>
			<p>
				<label for="headline">headline</label> <input name="headline"
					id="headline" type="text" ng-model="user.profile.headline">
			</p>
			<p>
				<label for="about">about</label>
				<textarea name="about" id="about" ng-model="user.profile.about"
					rows="8" cols="70"></textarea>
			</p>
			<p>
				<label for="twitter">twitter</label> <input name="twitter"
					id="twitter" type="text" ng-model="user.profile.twitter">
			</p>
			<p>
				<label for="github">github</label> <input name="github" id="github"
					type="text" ng-model="user.profile.github">
			</p>
			<p>
				<label for="stackoverflow">stackoverflow</label> <input
					name="stackoverflow" id="stackoverflow" type="text"
					ng-model="user.profile.stackoverflow">
			</p>
			<p>
				<input type="submit" value="save changes" />
			</p>
		</form>
	</div>

	<pre>
		{{ user }}
	</pre>
</div>