<div ng-show="isEmpty(questions)">
	<div class="main-area">
		<div class="primary-message">You have not asked any questions</div>
	</div>
</div>
<section class="question-list">
	<article class="question-entry" ng-repeat="question in questions">
		<p class="question-field" style="">

			<span class="question-title" style="font-weight: bold;">{{question.title}}</span>
		</p>


		<p class="question-field">
			<span>status : </span> <span class="question-title">{{question.status}}</span>
			<span style="margin-left: 270px">when : </span> <span
				class="question-title">{{question.date}}</span>
		</p>



		<div style="margin-top: 13px; margin-left: 0px;">
			<span><a href="/kode/questions/view/{{question.quid}}"
				style="color: #538dc2; margin-right: 4px">view</a></span> <span
				style="color: #ccc; font-weight: normal;"> &middot; </span><span><a
				href="/kode/questions/update/{{question.quid}}"
				style="color: #538dc2;">update</a></span>
		</div>
	</article>
</section>
