<section class="pull-right l-main-col">
	<section class="question-list">
		<article class="question-entry">
			<p class="question-field" style="">

				<span class="question-title" style="font-weight: bold;">{{ message }}</span>
			</p>
		</article>
	</section>
</section>