<section class="pull-right l-main-col">
	<section class="question-list">
		<article class="question-entry">
			<p class="question-field" style="">

				<span class="question-title" style="font-weight: bold;">Webrtc
					Video Demo using Data Channels</span>
			</p>


			<p class="question-field">
				<span>status : </span> <span class="question-title">confirmed</span>
				<span style="margin-left: 270px">when : </span> <span
					class="question-title">June 12, 2014</span>
			</p>



			<div style="margin-top: 13px; margin-left: 0px;">
				<span><a href="#" style="color: #538dc2; margin-right: 4px">view</a></span>
				<span style="color: #ccc; font-weight: normal;"> &middot; </span><span><a
					href="#" style="color: #538dc2;">update</a></span>
			</div>
		</article>

		<article class="question-entry">
			<p class="question-field" style="">

				<span class="question-title" style="font-weight: bold;">Webrtc
					Video Demo using Data Channels</span>
			</p>


			<p class="question-field">
				<span>status : </span> <span class="question-title">confirmed</span>
				<span style="margin-left: 270px">when : </span> <span
					class="question-title">June 12, 2014</span>
			</p>



			<div style="margin-top: 13px; margin-left: 0px;">
				<span><a href="#" style="color: #538dc2; margin-right: 4px">view</a></span>
				<span style="color: #ccc; font-weight: normal;"> &middot; </span><span><a
					href="#" style="color: #538dc2;">update</a></span>
			</div>
		</article>
	</section>

</section>